@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Poppins:wght@400;600&family=Roboto&family=Roboto+Condensed&display=swap');
body{
  background-color: #141414 ;
  font-family: "Baloo bhai 2",sans-serif;
  margin: 0;
  padding: 0;
}
/* Hide scrollbar for Chrome, Safari and Opera */

body::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	background: #333;
	margin: 1rem;
}

body::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 5px;
	background: #636262;
	margin: 1rem;
}

.scrollbar_style::-webkit-scrollbar {
	display: none;
	width: 3px;
	height: 3px;
	background: transparent;
	margin: 1rem;
}

.scrollbar_style::-webkit-scrollbar-thumb {
	width: 5px;
	border-radius: 5px;
	background: #3a3939;
	margin: 1rem;
}

/* Hide scrollbar for IE, Edge and Firefox */

.example {

  -ms-overflow-style: none;  /* IE and Edge */

  scrollbar-width: none;  /* Firefox */

}
