@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Poppins:wght@400;600&family=Roboto&family=Roboto+Condensed&display=swap');
body{
  background-color: #141414 ;
  font-family: "Baloo bhai 2",sans-serif;
}
/* Hide scrollbar for Chrome, Safari and Opera */

.example::-webkit-scrollbar {

  display: none;

}
body::-webkit-scrollbar {

  width: 0.5em;

}

body::-webkit-scrollbar-track {

  background-color: transparent;

}

body::-webkit-scrollbar-thumb {

  background-color: transparent;

}
/* Hide scrollbar for IE, Edge and Firefox */

.example {

  -ms-overflow-style: none;  /* IE and Edge */

  scrollbar-width: none;  /* Firefox */

}
