 .addplaylist{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
 }
.addplaylist .others{
    background-color:inherit;
    position: absolute;
    top: 5%;
    left: 22.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    color: #E3E3E3;
    width: 77.6vw;
    height: auto;
    min-height: 100vh;
    overflow-y: scroll;
}
.addplaylist .others .header{

}

.addplaylist .others form .profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
  } 
  .addplaylist .others form .profile-pic input {
    display: none;
  }
 .addplaylist .others form .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 165px;
    height: 165px;
    border-radius: 100px;
    z-index: 0;
  }
 .addplaylist .others form .profile-pic .-label {
    cursor: pointer;
    height: 165px;
    width: 165px;
  }
  .addplaylist .others form .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    /* border-radius: 100px; */
    margin-bottom: 0;
  }
  .addplaylist .others form .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  }




  @media screen and (max-width:913px) {
    .addplaylist .others{
        top: 10%;
        left: 0%;
        width: 100vw;
        height:auto;
        min-height: 90%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
    }
    .addplaylist .others .header{
        width: 90%;
        height: 12vh;
        display: flex;
        justify-content:space-between;
        align-items:flex-end;
        font-family: 'Roboto' , sans-serif;
    }
    .addplaylist .others .header h1{
        font-size: 1.5rem;
        font-weight: 300;
        text-transform: capitalize;
        font-family: 'Roboto',sans-serif;
    }
    .addplaylist .others .header button{
        width: 40%;
        height: 2.4rem;
        border-radius: 10px;
        margin-bottom: 0.9rem;
        border: none;
        background-color: #EE4950;
        color: #E3E3E3;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size: 1.2rem;
        grid-gap: 0.3rem;
    }
    .addplaylist .others .header button .add{
        width: 25%;
        height: 90%;
    }
    .addplaylist .others .lineeyy{
        width: 90%;
        height: 3px;
        background-color: #343434;
    }
    .addplaylist .others form {
        width: 95%;
        min-height: 70vh;
        height: 70vh;
        margin-left: 1rem;
    }
    .addplaylist .others form .profile-pic {
        width: 95%;
        height: 43%;
        color: transparent;
        transition: all 0.3s ease;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: all 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
      } 

      .addplaylist .others form .private{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
        margin-top: 1rem;
        grid-gap: 0.5rem;
      }
      .addplaylist .others form .private h1{
        font-size: 1.2rem;
        font-weight: 400;
      }


      .addplaylist .others form .private .toggle-container {
        display: inline-block;
        position: relative;
        width: 55px;
        height: 27px;
      }
      
      .addplaylist .others form .private  .toggle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 34px;
        background-color: #ccc;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .addplaylist .others form .private  .toggle-handle {
        position: absolute;
        top: 2px;
        left: 2px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-color: #fff;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease;
      }
      
      .addplaylist .others form .private #toggle:checked + .toggle {
        background-color: #EE4950;
      }
      
      .addplaylist .others form .private  #toggle:checked + .toggle .toggle-handle {
        transform: translateX(26px);
      }


      .addplaylist .others form p{
        font-size: 1.1rem;
        margin-bottom: 0;
      }
      .addplaylist .others form .profile-pic input {
        display: none;
      }
     .addplaylist .others form .profile-pic img {
        position: absolute;
        object-fit: cover;
        width: 90%;
        height: 90%;
        border-radius: 20px;
        z-index: 0;
      }
     .addplaylist .others form .profile-pic .-label {
        cursor: pointer;
        height: 90%;
        width: 90%;
        border-radius: 20px !important;
      }
      .addplaylist .others form .profile-pic:active .-label {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 10000;
        color: #fafafa;
        transition: background-color 0.2s ease-in-out;
        margin-bottom: 0;
        border-radius: 20px !important;
      }
      .addplaylist .others form .profile-pic span {
        display: inline-flex;
        padding: 0.2rem;
        height: 1.5rem;
      }
      .addplaylist .others form .input{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 90%;
        height: 57%;
      }
      .addplaylist .others form .input label{
        font-size: 1.2rem;
        font-weight: 300;
      }
      .addplaylist .others form .input label span{
        color: #EE4950;
      }
      .addplaylist .others form .input .item1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 50%;
        grid-gap: 1rem;
      }
      .addplaylist .others form .input #team{
        height: 40%;
      }
      .addplaylist .others form .input .item1 .name{
        width: 95%;
        height: 30%;
        background-color: inherit;
        border: none;
        border-bottom: 2px solid #EE4950;
        color: #E3E3E3;
        caret-color: white;
        font-size: 1.2rem;
        outline: none;
      }
      .addplaylist .others form .input .item1 .para{
        margin-top: 0.5rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
        font-weight: 300;
        caret-color: white;
        color:#E3E3E3;
        font-family: "Roboto" , sans-serif;
        border-bottom: 2px solid #EE4950;
        background-color: inherit;
      }

}










