.songs{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.songs .other{
    background-color:inherit;
    position: absolute;
    left: 22.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    color: #E3E3E3;
    width: 77.6vw;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    /* overflow-y: scroll; */
}
.songs .heading{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    flex-direction: column;

}
.songs .heading h1{
font-size: 1.8rem;
margin-bottom:0rem ;
}
.songs .heading p{
    font-size: 1.2rem;
    font-weight: 200;
    opacity: 0.7;
}
.songs .heading p:hover{
    cursor: pointer;
    text-decoration: dashed;
}





















@media screen and (max-width:913px) {
    .songs .other{
        top: 10%;
        left: 0%;
        width: 100vw;
        height:auto;
        min-height: 90%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
    }
    .songs .other .items {
        width: 100%;
        height: auto;
        min-height: 50vh;
    }
    .songs .other .items  .bob{
    width: 48%;
    height: 30vh;
    background-color: #18181a;
    border-radius: 16px;
    margin-top: 1rem;
}
.songs .other .items   .bob .imagey{
    width:100%;
    height:70%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.songs .other .items  .bob .imagey img{
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 100%;
    object-fit: cover;
}
.songs  .other .items  .bob .names{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-left: 0.7rem;
}
.songs .other .items .bob .names h1{
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0rem;
}
.songs .other .items  .bob .names p{
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.5;
    text-transform: capitalize;
    margin-top: 0.5rem;
}
}