.art{
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.art .others{
    background-color:inherit;
    position: absolute;
    top: 5%;
    left: 22.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    color: #E3E3E3;
    width: 77.6vw;
    height: auto;
    min-height: 100vh;
}
.art .others .headery{
    width: 90%;
    height: 50%;
    display: flex;
    grid-gap: 1rem;
    margin-top: 1rem;
}
.art .others .headery .imagee{
    min-width: 45%;
    height: 20rem;
    border-radius: 14px;
}
.art .others .headery .imagee img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 14px;
} 
.art .others .headery .info{
    width: 50%;
    height: 21rem;
    overflow: hidden;
}
.art .others .headery .info h1{
    font-size: 1.4rem;
    color: #EE4950;
    margin-top: 0rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    text-transform: capitalize;
}
.art .others .headery .info p{
    font-size: 1rem;
    color: #E3E3E3;
    line-height: 1.4rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
    font-family: 'Roboto' , sans-serif;
}
.art .others .down{
    width: 90%;
    height: auto;
    min-height: 9rem;
}
.art .others .down .up{
    display: flex;
    justify-content:flex-start;
    align-items: center;
    grid-gap: 3rem;
    width: 100%;
    height: 3rem;
}
.art .others .down .up h1{
    font-size: 1.5rem;
}
.art .others .down .dash{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3px;
    background-color: #323234;
}
.art .others .down .up .play{
    background-color: #EE4950;
    display: flex;
    width: 13%;
    max-height: 80%;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}
.art .others .down .up .play:hover{
    cursor: pointer;
}
.art .others .down .up .play h1{
    font-size: 1.1rem;
    margin-left: -0.2rem;
}
.art .others .down .dash{
    width: 98%;
    height: 3px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #323234;
}
.art .others .down .songlist{
    width: 98%;
    min-height: 30vh;
    height: auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:center;
}
.art .others .down .songlist .box{
    width: 100%;
    height: 6rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #18181a;
    border-radius: 14px;
    margin-bottom: 1rem;

}
.art .others .down .songlist .box .left{
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-gap: 1rem;
}
.art .others .down .songlist .box .left .image{
    width: 14%;
    height: 85%;
    border-radius: 10px;
    margin-left: 1rem;
}
.art .others .down .songlist .box .left .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.art .others .down .songlist .box .left .main{
    max-width: 70%;
    min-width: 60%;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.art .others .down .songlist .box .left .main .names {
    width: 100%;
    height: 40%;
}
.art .others .down .songlist .box .left .main .names h2{
    margin: 0;
    font-size: 1.3rem;
    font-weight: 500;
    text-transform: capitalize;
    font-family: "Baloo bhai 2",sans-serif;
    margin: 0.5rem;
}
.art .others .down .songlist .box .left .main .downery{
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 30%;
    grid-gap: 1rem;
    margin-left: 0.5rem;
    color: #323234;
}
.art .others .down .songlist .box .left .main .downery .items{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.2rem;
}

.art .others .down .songlist .box .left .main .names p{
    margin: 0;
    opacity: 0.6;
    font-size: 0.9rem;
    text-transform: capitalize;
    font-family: "Roboto", sans-serif;
}
.art .others .down .songlist .box  .right{
    width: 30%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.art .others .down .songlist .box  .right .play{
    width: 37%;
    height: 37%;
    color: #EE4950;
}

.art .others .down .songlist .box  .right .playing {
    font-size: 0.9rem;
    color: #EE4950;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -2rem;
}
.art .others .down .songlist .box  .right .playing .icon{
    width: 20%;
    height: 20%;
}

.art .others .down .songlist .box  .right .playing
.art .others .down .songlist .box  .right .play , .art .others .down .songlist .box  .right .nolike , .art .others .down .songlist .box  .right .like{
    cursor: pointer;
}
.art .others .down .songlist .box  .right .nolike{
    width: 35%;
    height: 35%;
}
.art .others .down .songlist .box  .right .like{
    width: 35%;
    height: 35%;
    color: #EE4950;
}
@media screen and (max-width:913px) {
    .art{
        width: 100%;
        min-height: 100vh;
        height: 100vh;
        margin: 0;
        padding: 0;
    }
    .art .others{
        top: 10%;
        left: 0%;
        width: 100vw;
        height:auto;
        min-height: 90%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
    }
    .art .others .headery{
        width: 90%;
        height: 60%;
        display: flex;
        flex-direction: column;
        grid-gap: 0.2rem;
        margin-top: 2rem;
    }
    .art .others .headery .imagee{
        width: 100%;
        max-height: 20%;
        min-height:20%;
        height:20%;
        border-radius: 14px;
    }
    .art .others .headery .imagee img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    } 
    .art .others .headery .info{
        width: 100%;
        height: 40%;
    }
    .art .others .headery .info h1{
        font-size: 1.2rem;
        color: #EE4950;;
        text-transform: capitalize;
        margin-top: 1rem;
        margin-bottom: 0.2rem;
    }
    .art .others .headery .info p{
        font-size: 1rem;
        color: #E3E3E3;
        line-height: 1.3rem;
        font-family: 'Roboto' , sans-serif;
    }
    .art .others .down{
        width: 90%;
        height: auto;
        min-height: 9rem;
    }
    .art .others .down .up{
        display: flex;
        justify-content:flex-start;
        align-items: center;
        grid-gap: 1rem;
        width: 100%;
        height: 3rem;
    }
    .art .others .down .up h1{
        font-size: 1.2rem;
    }
    .art .others .down .up .play{
        background-color: #EE4950;
        display: flex;
        max-width: 38%;
        width: 36%;
        max-height: 80%;
        justify-content: center;
        align-items: center;
        border-radius: 40px;
    }
    .art .others .down .up .play h1{
        font-size: 1.1rem;
        margin-left: -0.2rem;
    }
    .art .others .down .dash{
        width: 100%;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        height: 3px;
        background-color: #323234;
    }
    .art .others .down .songlist{
        width: 100%;
        min-height: 16vh;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
   
        margin-top: 1rem;
    }
    .art .others .down .songlist .box{
        width: 100%;
        height: 4.8rem;
        background-color: #18181a;
        display: flex;
        justify-content:space-between;
        align-items: center;
        border-radius: 15px;
        font-family: 'Roboto' , sans-serif;
        margin-bottom:0.6rem;
    }
    .art .others .down .songlist .box .left{
        width: 70%;
        height: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }

    .art .others .down .songlist .box .left .image{
        min-width: 28% !important;
        height: 80%;
        margin-left: 0.4rem;
        border-radius: 8px;
    }
    .art .others .down .songlist .box .left .image img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    .art .others .down .songlist .box .left .names{
         height: 70%;
         min-width: 60%;
         margin-top: 0.4rem;
         display: flex;
         flex-direction: column;
         justify-content:center;
         align-items:flex-start;
         margin-left: 0.2rem;
    }
    .art .others .down .songlist .box .left .main .names h2{
        font-size: 1rem;
        font-weight: 370;
        margin-top: 0rem;
    
        text-transform: capitalize;
    }
    
    .art .others .down .songlist .box .left .names p{
        font-size: 0.85rem;
        font-weight: 200;
        margin-top: 0rem;
    }
    .art .others .down .songlist .box .right{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 0.5rem;
    }
    .art .others .down .songlist .box .right .play{
        color: #EE4950;
        width: 30%;
        height: 30%;
    }
    .art .others .down .songlist .box .right .nolike{
        color: #E3E3E3;
        width: 30%;
        height: 30%;
    }
    .art .others .down .songlist .box .right .like{
        color: #EE4950;
        width: 30%;
        height: 30%;
    }
    .art .others .down .songlist .box .left .main .downery{
        display: flex;
        align-items: center;
        max-width: 100%;
        max-height: 30%;
        grid-gap: 1rem;
        margin-left: 0.5rem;
        opacity: 0.8;
    }
    .art .others .down .songlist .box .left .main .downery .items{
        width: 25%;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom:0.4rem ;
    }
    .art .others .down .songlist .box .left .main .downery .items .icon{
        width: 55%;
        height: 55%;
    }
}
