.home{
    width: 100%;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.liney{
    width: 100%;
    height: 5vh;
}
.home .other{
    background-color:inherit;
    position: absolute;
    top: 5%;
    left: 22.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    color: #E3E3E3;
    width: 77.6vw;
    height: auto;
    min-height: 100vh;
    /* overflow-y: scroll; */
}
.home .search{
    width: 90%;
    height:2rem;
}
.home .search input{
    width: 100%;
    height: 100%;
    background-color: inherit;
    border: 4px solid #323234;
    border-radius: 6px;
    color: #E3E3E3;
}
.home .search input:focus{
    outline: none !important;
    border: 4px solid #EE4950;
}
.home .other .search input:focus + .home .other .search .inside{
    color:#EE4950;
}
.home .other .line{
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 90%;
    margin-left: 0.7%;
    height: 2px;
    background-color: #323234;
}
.home .search .inside{
    width: auto;
    position: relative;
    top: -2rem;
    color: #323234;
    left: 95%;
}
.home .allplaylist{
    width: 90%;
    height: 60vh;
    background-color: white;
    margin-left: 0.5%;
    border-radius: 12px;
    background-image: url("../images/playlist.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    color: #E3E3E3;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
}
.home .allplaylist .item{
    margin-top: 16%;
    width: 93%;
    height: 40%;
    position: absolute;
    bottom: 0;
    margin-left: 3%;
    margin-bottom: 1rem;
}
.home .allplaylist .item h2  {
   font-size: 1.5rem;
   margin: 0.4rem;
}
.home .allplaylist .item p{
    margin: 0.4rem;
    font-size: 0.7rem;
}
.home .allplaylist .item button{
    width: 15%;
    height: 2rem;
    border-radius: 10px;
    border: none;
   background-color: #E3E3E3;
   color: black;
   margin: 0.4rem;
}
.home .allplaylist .item button:hover{
    cursor: pointer;
}

.home .other .searching{
    width: 92%;
    min-height: 50vh;
    height: auto;
    position: absolute;
    top: 4.4rem;
    z-index: 9999;
    background-color: rgba(0, 0, 0, .55);  
    backdrop-filter: blur(15px);
}
@media screen and (max-width:913px) {
    .home .other{
        top: 10%;
        left: 0%;
        width: 100vw;
        height:auto;
        min-height: 90%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
    }
    .home .other .search{
        width: 90%;
        height: 2.2rem;
        margin-top: 1.5rem;
        margin-right:0.5rem;
        margin-left: 2.7%;
        margin-bottom:1rem;
    }
    .home .other .search input::placeholder{
        font-size: 1.2rem;
        font-weight: 500;
    }
    .home .other .search input[type="text"]{
        
    }
    .home .other .search input:focus{
        border: 2px solid #EE4950;
    }
    .home .other .search input{
        font-size: 1.2rem;
        /* padding-left: 0.7rem; */
        font-weight: 500;
        max-width: 100%;
        width: 100%;
        height: 100%;
        padding: 0;
        width: 100%;
        height: 100%;
        background-color: inherit;
        border: 2px solid #323234;
        border-radius: 6px;
        color: #E3E3E3;
    }
    .home .other .searching{
        width: 92%;
        min-height: 52vh;
        height: 50vh;
        overflow-y: scroll;
        position: absolute;
        top: 4.4rem;
        z-index: 9999;
        background-color: rgba(0, 0, 0, .55);  
        backdrop-filter: blur(15px);
        display: flex;
        flex-direction:column ;
        justify-content: flex-start;
        align-items: center;
     }
     .home .other .searching::-webkit-scrollbar{
        display: none;
     }
     .home .other .searching .box{
        width: 100%;
        height: 4.5rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
     }
     .home .other .searching .box .image{
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
     }
     .home .other .searching .box .image img{
        width: 65%;
        max-width: 65%;
        max-height: 83%;
        height: 83%;
        object-fit: cover;
     }
     .home .other .searching .box .names{
         display: flex;
         flex-direction: column;
         width: 75%;
         height: 100%;
         justify-content: flex-end;
         align-items:flex-start;
         text-transform: capitalize;
     }
     .home .other .searching .box .names h1{
        font-size: 0.9rem;
        margin: 0;
        margin-bottom: 0.12rem;
        font-weight:540 ;
     }
     .home .other .searching .box .names h2{
        font-size: 0.9rem;
        margin: 0;
        margin-bottom: 0.2rem;
        font-weight:540 ;
     }
     .home .other .searching .box .names .down{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        /* height: 50%; */
     }
     .home .other .searching .box .names p{
        margin: 0;
        margin-bottom: 0.5rem;
        font-weight: 550;
        color:#E3E3E3;
     }
    .home .other .search .inside{
         color: #EE4950;
        right: 20%;
    }
    /* .home .search .inside{
        width: auto;
        position: relative;
        top: -2rem;
        color: #323234;
        left: 95%;
    } */
    .home .allplaylist{
        width: 90%;
        margin-right:0.5rem;
        height: 45vh;
        background-color: white;
        margin-left: 2.7%;
    }
    .home .allplaylist .item{
        margin-left: 5%;
        height: auto;
        margin-bottom:1rem;
    }
    .home .allplaylist .item h2  {
        font-size: 2rem;
        margin: 0.3rem;
        font-weight: 700;
     }
     .home .allplaylist .item p{
         margin: 0.3rem;
         font-size: 1.3rem;
         font-weight: 400;
     }
    .home .allplaylist .item button{
       width: 45%;
       height: 2.2rem;
       font-size: 1.15rem;
       font-weight: 544;
    }
}




