.playlist{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}
.playlist .others{
    background-color:inherit;
    position: absolute;
    top: 5%;
    left: 22.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    color: #E3E3E3;
    width: 77.6vw;
    height: auto;
    min-height: 100vh;
}
.playlist .others .spin{
    width: 100%;
    min-height: 90vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}

.playlist .others .heading{
    width: 90%;
    height:20vh;
}
.playlist .others .lineyyyyyyy{
    width: 90%;
    height: 3px;
    background-color: #343434;
}
.playlist .others .sub{
    width: 90%;
    height: 40vh;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    grid-gap: 1rem;
}
.playlist .others .sub .noplay{
    font-size: 1rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.2rem;
    color: #EE4950;
    text-transform: capitalize;
}    
.playlist .others .sub .addplay{
    width: 17%;
    height: 80%;
    background-color: #272729;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
.playlist .others .sub .addplay .adddd{
    min-width: 3.5rem;
    min-height: 3.5rem;
    color: #E3E3E3;
}
.playlist .others .sub .addplay:hover{
    cursor: pointer;
}
.playlist .others .sub .addplay .adddd  .css-i4bv87-MuiSvgIcon-root{
    width: 100%;
    height: 100%;
}
.playlist .others .sub .addplay p{
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
}
@media screen and (max-width:913px) {
    .playlist .others{
        top: 10%;
        left: 0%;
        width: 100vw;
        height:auto;
        min-height: 90vh;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
    }
    .playlist .others .spin{
        width: 100%;
        height: 100%;
        display: flex;
        /* position: absolute; */
        justify-content: center;
        align-items: center;
    }
    .playlist .others .heading{
        width: 90%;
        max-height:15vh;
        height: 15vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .playlist .others .heading h1{
        font-size: 1.34rem;
        font-weight: 400;
        margin-bottom: 0rem;
    }
    .playlist .others .heading p{
        font-size:1.13rem;
        opacity: 0.6;
        font-weight: 400;
        text-transform: capitalize;
    }
    .playlist .others .lineyyyyyyy{
        width: 90%;
        height: 3px;
        margin-top:0rem;
        background-color: #343434;
    }
    .playlist .others .sub{
        width: 90%;
        height: 40vh;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:flex-start;
        grid-gap: 2rem;
    }
    .playlist .others .sub .noplay{
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 0.2rem;
        color: #EE4950;
        text-transform: capitalize;
    }    
    .playlist .others .sub .addplay{
        width: 47%;
        height: 60%;
        background-color: #272729;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 6px;
        /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
text-transform: capitalize;
    }

    .playlist .others .sub .addplay:hover{
        cursor: pointer;
    }
    .playlist .others .sub .addplay .adddd{
        min-width: 3.5rem;
        min-height: 3.5rem;
        color: #E3E3E3;
    }
    .playlist .others .sub .addplay .adddd  .css-i4bv87-MuiSvgIcon-root{
        width: 100%;
        height: 100%;
    }
    .playlist .others .sub .addplay p{
        font-size: 1.2rem;
        font-weight: 500;
        text-align: center;
    }
    .playlist .others .playlistsss{
        width: 94%;
        height: auto;
        min-height: 40vh;
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
        grid-column-gap: 3%;
        margin-left: 0.52rem;
    }
    .playlist .others .playlistsss .addplay{
        width: 45%;
        height: 30vh;
        background-color: #272729;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 6px;
        background: rgba(255, 255, 255, 0.17);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        text-transform: capitalize;
        margin-top: 1rem;
    } 
    .playlist .others .playlistsss .addplay .adddd{
        width: 40%;
        height: 40%;
    }
    .playlist .others .playlistsss .addplay p{
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;
        margin-top: 0rem;
    }
    .playlist .others .playlistsss .box{
        width: 47%;
        height: 30vh;
        background-color: #18181a;
        border-radius: 16px;
        margin-top: 1rem;
    }
    .playlist .others .playlistsss .box .image{
        width:100%;
        height:70%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    .playlist .others .playlistsss .box .image img{
        width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        height: 100%;
        object-fit: cover;
    }
    .playlist .others .playlistsss .box .names{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        margin-left: 0.7rem;
    }
    .playlist .others .playlistsss .box .names h1{
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 0rem;
    }
    .playlist .others .playlistsss .box .names p{
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.6;
        text-transform: capitalize;
        margin-top: 0.5rem;
    }

}
