.loader{
    background-color:inherit;
    position: absolute;
    top: 5%;
    left: 22.4vw;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start;
    color: #E3E3E3;
    width: 77.6vw;
    height: 95%;
    min-height: 100vh;
    margin-left: 3rem;
}

.loader .header{
    height: 50%;
    width: 90%;
    display: flex;
    grid-column-gap: 4rem;
}

.loader .header .image{
    width: 40%;
    height: 90%;
background-image:linear-gradient( to bottom , #27272a, #18181b) ;
    /* background-color: #E3E3E3; */
}
.loader .header .text{
    width: 50%;
    height: 90%;
    display: flex;
    grid-gap: 1rem;
    flex-direction: column;
}
.loader .header .text .text1{
    width: 100%;
    height: 16%;
    background-image:linear-gradient( to bottom , #27272a, #18181b) ;
}
.loader .header .text .text2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 80%;
    grid-gap: 1rem;
}
.loader .header .text .text2 #tee{
    width: 87%;
}
.loader .header .text .text2 #te{
    width: 90%;
}
.loader .header .text .text2 #teee{
    width: 89%;
}
.loader .header .text .text2 .text3{
    width: 94%;
    height: 17%;
    background-image:linear-gradient( to bottom , #27272a, #18181b) ;
}

.loader .songwala{
    margin-top: 2.5rem;
    height: 9%;
    width: 30%;
    background-image:linear-gradient( to bottom , #27272a, #18181b) ;  
}
.loader .bigtext{
    margin-top: 1rem;
    height: 5%;
    width: 80%;
    background-image:linear-gradient( to bottom , #27272a, #18181b) ; 
}


@media screen and (max-width:913px) {
    .loader{
        top: 10%;
        left: 0%;
        height: 90%;
        width: 100vw;
        height:auto;
        min-height: 90%;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
        margin-left: 0rem;
    }
    .loader .header{
        margin-top: 1rem;
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: column;
        grid-column-gap: 4rem;
        grid-gap: 2rem;
    }
    
    .loader .header .image{
        width: 100%;
        height: 45%;
background-image:linear-gradient( to bottom , #27272a, #18181b) ;
        /* background-color: #E3E3E3; */
    }
    .loader .header .text{
        width: 100%;
        height: 60%;
        display: flex;
        grid-gap: 1rem;
        flex-direction: column;
    }
    .loader .header .text .text1{
        width: 100%;
        height: 12%;
        background-image:linear-gradient( to bottom , #27272a, #18181b) ;
    }
    .loader .header .text .text2{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 80%;
        grid-gap: 0.5rem;
    }
    .loader .header .text .text2 #tee{
        width: 87%;
    }
    .loader .header .text .text2 #te{
        width: 90%;
    }
    .loader .header .text .text2 #teee{
        width: 89%;
    }
    .loader .header .text .text2 .text3{
        width: 94%;
        height: 9%;
        background-image:linear-gradient( to bottom , #27272a, #18181b) ;
    }
    .loader .songwala{
        margin-left: -7rem;
        height: 9%;
        width: 40%;
        background-image:linear-gradient( to bottom , #27272a, #18181b) ;  
    }
    .loader .bigtext{
        margin-top: 1rem;
        height: 5%;
        width: 80%;
        background-image:linear-gradient( to bottom , #27272a, #18181b) ; 
    }
    
}