.login{
    width: 100%;
    height: 100%;
}

.login .other{
    background-color:#09090B ;
   position: absolute;
   top: 10%;
   left: 22.4vw;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content:flex-start;
   color: #E3E3E3;
   width: 77.6vw;
   height: 90%;
   max-height: 90vh;
}

.login .other .upper{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    margin-bottom: 1rem;
}
.login .other .upper h1{
    margin-bottom: 0rem;
}
.login .other .upper p{
    margin-top: 0.3rem;
}


.login .other form{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    grid-gap: 1rem;
}
.login .other form .forminput{
    display: flex;
    flex-direction: column;
    grid-gap: 0.5rem;
}

.login label{
    font-weight: 50;
    font-size: 0.7rem;
    color: #7D8685;
}

.login input{
    background-color: inherit;
    width: 50%;
    height: 1.7rem;
    border-radius: 6px;
    color: #E3E3E3;
    border: 4px solid #323234;
}

 .login input:focus{
    outline: none !important;
    /* border:4px solid #20303F !important; */
    border: 4px solid #EE4950;
}
::-ms-reveal {
    filter: invert(100%);
  }

  .login .submit{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;
    margin: 0;
    padding: 0;
  }
  .login .submit button{
    width: 50.4%;
    margin-top: 5%;
    border: none;
    background-color: #EE4950;
    color: #E3E3E3;
    border-radius: 6px;
    height: 2rem;
    text-transform: uppercase;
    text-align: center;
  }
  .login .submit button:hover{
   cursor: pointer;
  }
  .login .submit p{
    margin-top: 0rem;
  }
  .login .submit p .inside{
    color: #EE4950;
    cursor: pointer;
    font-weight: 100;
    font-size: 1rem;
  }
   .login .submit .continue{
    width: 50%;
    font-weight: 100;
    font-size: 0.8rem;
    text-align: center;
   }
  .login .submit p  .inside:hover{
    cursor: pointer;
    text-decoration: dashed;
  }
  .login .submit .acc{
    font-size: 1rem;
    font-weight: 200
  }
  .login .submit  .or{
    margin-top: 0.4rem;
    width: 50%;
    text-align: center;
 }
@media screen and (max-width:913px) {
    .login .other{
        background-color:#09090B ;
        position: absolute;
        top: 15%;
        left: 0%;
        width: 100vw;
        height: 85%;
        max-height: 85%;
     }
     .login .other .upper{
        width: 75%;
        height: 4rem;
     }
     .login .other .upper h1{
        font-size: 1.8rem;
     }
     .login .other .upper p{
        font-size: 0.8rem;
     }
     .login .other form{
        margin-top:0.7rem ;
        width: 75%;
     }
     .login .other form .forminput{
        width: 100%;
     }
     .login .other form input{
        width: 100%;
        height: 2.1rem;
        border-radius: 8px;
     }
     .login .submit{
        width: 75%;
        margin-top: 1rem;
     }
     .login .submit button{
        width: 103%;
        height: 2.1rem;
     }
     .login .submit  .or{
        margin-top: 0.4rem;
        width: 100%;
        text-align: center;
     }
     .login .submit  .continue{
        text-align: center;
        width: 100%;
        font-size: 0.91rem;
     }
     .login .submit .acc{
        text-align: left;
        width: 100%;
        font-size: 0.97rem;
     }
     
}