@import url('https://fonts.googleapis.com/css2?family=Geologica&family=Poppins:wght@400;600&family=Roboto&family=Roboto+Condensed&display=swap');
nav{
   width: 22.3vw;
   height: 100vh;
   max-height: 100%;
   position: fixed;
   background-color: #18181c;
   border-right: 3px solid #323234 ;
   z-index: 5;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
nav .header{
    margin-left: 10%;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content:left;
    align-items: center;
    grid-gap: 10%;
}
nav .header img{
    width: 1rem;
    height: 1rem;
}
nav .header h1{
    font-size: 120%;
    color: #E3E3E3;
}
nav .header .icon{
    color: white;
    display: none;
}
nav .menu{
    margin-top: 6%;
    width: 100%;
    max-height: 45%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#E3E3E3 ;
    animation: transitionIn 1.5s;
}
nav .menu .item{
    width: 100%;
    height: 20%;
    margin-bottom: 0.3rem;
    background-color: inherit;
}
nav .menu .item .active ,nav .menu .item .notactive{
    display: grid;
    grid-template-columns: 20% 60%;
    align-items: center;
    grid-gap: 4%;
    width: 90%;
    margin: auto;
    height: 100%;
    font-size: 60%;
    background-color: inherit;
    margin-bottom: 0.3rem;
    border-radius: 6px;
}
/* nav .menu .item .active ,nav .menu .item .notactive{
   display: flex;
   justify-content: center;
   align-items:;
} */
nav .menu .item .active{
    background-color: #EE4950;
}
nav .menu .item .active:hover{
    cursor: pointer;
}
nav .menu .item .notactive{
    background-color: inherit;
}
nav .menu .item .notactive:hover {
    background-color: #714044;
    cursor: pointer;
}
nav .menu .item .active .icons ,nav .menu .item .notactive .icons{
    margin-left: 40%;
    width: 35%;
    height: 35%;
}
nav .line{
    width: 95%;
    height: 2px;
    /* margin: auto; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: #323234;
}

nav .lower{
    width: 100%;
    height: 20%;
    animation: transitionIn 1.5s;
}
nav .login{
    min-width: 90%;
    width: 90%;
    /* margin: auto; */
    margin-left: 0.7rem;
    margin-right: 1.3rem;
    height: 2rem;
    border: 3px solid #323234;
    background-color: inherit;
    font-size: 1.2rem;
    color:#E3E3E3;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-transform: uppercase;
    animation: transitionIn 1.5s;
}
nav .login:hover{
    background-color: #EE4950;
    cursor: pointer;
}

nav .lower .user{
    width: 90%;
    height: 80%;
    padding-top: 0rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-gap: 0.5rem;
    border: none;
    margin-left: 0.7rem;
    margin-right: 1.3rem;
}
nav .lower .user .box{
    width: 100%;
    height: 2rem;
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    justify-content: center;
    font-size: 65%;
    text-transform: capitalize;
    font-weight: 400;
    color: #E3E3E3;
}
nav .lower .user .box:hover{
    cursor: pointer;
}
nav .lower .user .box .icon{
    width: 50%;
    height: 50%;
    margin-left:7% ;
}
nav .lower .user .box h1{
    font-size: 1rem;
    font-weight: 600;
}
nav .lower .user #coolor{
    color: #EE4950;
}

@keyframes transitionIn {
    from{
      opacity: 0;
      transform: translateY(10px);
    }
    to{
        opacity: 1;
      transform: translateY(0);
    }
}

@media screen and (max-width:500px){
    nav .menu .item .active , nav .menu .item .notactive{
        width: 90%;
   }
   nav .login{
       width: 90%;
   }
}

@media screen and (min-width:500px) {
    nav .menu .item .active , nav .menu .item .notactive{
         width: 70%;
    }
    nav .login{
        width: 70%;
    }
}

@media screen and (min-width:1000px) {
    nav .menu .item .active , nav .menu .item .notactive{
        width: 90%;
   }
   nav .login{
       width: 70%;
   }
}

@media screen and (max-width:913px) {
    nav .menu .div:active {
    background-color: #714044;
    cursor: pointer;
}
    nav{
        width: 100%;
        height: 10%;
        background-color: #09090B;
        z-index: 5;
        border: none;
    }
    nav .header{
        position: relative;
        width: 100%;
        height: 100%;
        margin-left: 0rem;
        grid-gap: 5%;
        border-bottom: 3px solid #323234;
    }
    nav .header img{
        margin-left: 2rem;
    }
    nav .header .icon{
        display: inline-block;
        position: absolute;
        right: 1rem;
    }
    nav .menu{
        display:none;
    }
    nav .line{
        display:none;
    }
    nav .lower{
        display: none;
    }
    nav .lower{
        width: 100%;
        height: 24vh;
    }
    nav .lower .user{
        grid-gap: 0.8rem;
        width: 100%;
        height: 100%;
        margin-top: 0rem;
    }
    nav .lower .user .box {
        width: 100%;
        height: 30%;
    }
    nav .lower .user .box .icon{
        margin-left: 20%;
        width: 40%;
        height: 40%;
    }
    nav .lower .user .box h1{
        margin-left: 0.33rem;
        font-size: 1rem;
    
    }
   
}
