.lineyyyyyy{
    width: 100%;
    min-height: 4vh;
    background-color: inherit;
}
.section{
    width: 90%;
    max-height: 55vh;
    height: 55vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1.5rem;
}
.section h1{
    width: 100%;
    height: 5%;
    text-align: left;
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: 600;
}
.section .boxes{
    width: 100%;
    height: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
}
.section .boxes .box{
    min-width: 47%;
    height: 7.5rem;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.section .boxes .box h2{
    font-size: 1.4rem;
    font-weight: 600;
    width: 30%;
    height: 100%;
    margin-top: 4rem;
    margin-left: 1rem;
    text-transform: capitalize
}
.section .boxes .box .image{
    width: 26%;
    height: 80%;
    overflow: hidden;
    transform: rotate(18deg);
    box-shadow: -1px 7px 13px 0px rgba(0,0,0,0.65);
}
.section .boxes .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}




@media screen and (max-width:913px) {
    .lineyyyyyy{
        width: 100%;
        min-height: 5vh;
        background-color: inherit;
    }
.section{
    width: 90%;
    min-height: 55vh;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1.5rem;
}
.section h1{
    width: 100%;
    height: 5%;
    text-align: left;
    margin-left: 0rem;
    font-size: 1.6rem;
    font-weight: 600;
}
.section .boxes{
    width: 100%;
    height: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    grid-column-gap: 0.55rem;
    grid-row-gap: 0.52rem;
}
.section .boxes .box{
    min-width: 100%;
    width: 100%;
    height: 5.2rem;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.section .boxes .box h2{
    font-size: 1.1rem;
    font-weight: 600;
    width: 30%;
    height: 100%;
    margin-top: 4rem;
    margin-left: 0.3rem;
}
.section .boxes .box .image{
    width: 40%;
    height: 60%;
    overflow: hidden;
    transform: rotate(28deg);
    transform-origin: bottom;
    border-radius: 10px;
    box-shadow: -1px 7px 13px 0px rgba(0,0,0,0.45);
}
.section .boxes .box .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

}
