.lineyy{
    width: 100%;
    height: 4vh;
}
.songs{
    width: 90%;
    min-height: 35vh;
    max-height: 40vh;
    height: 35vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-row-gap: 1.5rem;
}

.songs .heading{
    display: flex;
    width: 90%;
    height: 10%;
    justify-content:space-between;
    align-items: center;
}
.songs .heading h1{
    font-size: 120%;
}
.songs .heading p{
    font-size: 0.78rem;
    color:  #EE4950;
}

.songs .items{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x:scroll;
    grid-gap: 1.3rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.songs .items .boxzzy:first-child{
    margin-left:0.5rem;
    }
.songs .items .boxzzy{
    min-width: 45%;
    width: 45%;
    max-height: 100%;
    height:100% ;
    border-radius: 10px !important;
    background-color: #18181a;
}
.songs .items .boxzzy .image{
    width: 100%;
    max-height: 70%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow:hidden;
}
.songs .items .boxzzy .image img{
    max-width:100%;
    max-height:100% !important;
    height:100%;
    width:100%;
    object-fit:cover;
 
    }
.songs .items .boxzzy h2{
    font-size: 1rem;
    margin: 0;
    margin-top:0.6rem;
    text-transform: capitalize;
    font-weight: 500;
    text-align: left;
    margin-left: 0.3rem;

}
.songs .items .boxzzy .ppp{
    font-size: 0.9rem;
    margin: 0;
    margin-top:0.3rem;
    width: auto;
    height: auto;
    font-weight: 300;
    text-align: left;
    margin-left: 0.3rem;
    text-transform: capitalize;
}
