.music{
    width: 100vw;
    height: 15vh;
    position: fixed;
    left: 22.4vw;
    bottom: -3px;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    /* background: rgba(0,0,0,0.8); */
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top: 1px solid grey;
    background-color: rgba(0, 0, 0, .75);  
    backdrop-filter: blur(15px);
    /* transition: 0.1s ease; */
    }

    .music.up{
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: 99999;
        background-color:#09090B;
        backdrop-filter: blur(0px);
        flex-direction: column;
    }


   .music .iconeeyy{
    width: 3rem;
    height: 3rem;
    color: #E4E4E6;
    margin-left: 2rem;
   }


    .music .left{
        width: 20%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0.6rem;
        grid-gap: 1rem;
    }    
    .music .left .image{
    width: 30%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .music .left .image img{
        width: 100%;
        height: 100%;
    }
    .music .left .names{
        width: 70%;
        color: #E4E4E6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-transform: capitalize;
    }
    .music .left .names h1{
        font-size: 1rem;
        font-weight: 200;
        margin-bottom: 0rem;
    }
    .music .left .names p{
        margin-top: 0.3rem;
        opacity: 0.5;
        font-size:0.8rem;
        font-weight: 100;
    }

    .music .middle{
        width: 30%;
        height: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
    .music .middle button{
        background-color: inherit;
        border: none;
        width: 32%;
        height: 60%;
    }
    .music .middle button .icon{
        color: #EE4950;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .music .middle button .iconey{
        color: #E4E4E6;
        width: 65%;
        height: 65%;
    }


    
    .music.up{
        max-width: 77.6vw;
        max-height: 100vh;
        height: 100vh;
        width: 77.6vw;
        position: fixed;
        top: 0;
        right: 0;
        left:22.4vw;
        border-top-left-radius: 0px;
        border: none;
        overflow: hidden;
        z-index: 99999;
        background-color:#09090B;
        backdrop-filter: blur(0px);
        flex-direction: column;
    }

    .music.up .left{
        margin-top: 1rem;
        width: 100%;
        min-height: 50vh;
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
    }
    .music.up .left .image{
        width: 50%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .music.up .left .image img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }
    .music.up .left .names {
        width: 50%;
        height: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .music.up .left .names h1{
        font-size: 1.5rem;
        margin-top: 1.6rem;
        font-weight: 500;
    }
    .music.up .left .names p{
        font-size: 1.3rem;
        margin-top: 0.3rem;
        opacity: 0.5;
        font-weight: 500;
    }
    .music.up .plain{
        width: 60%;
        height: 15vh;
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .music.up .plain .slide{
        width: 70%;
    }
    .music.up .plain .down{
        width: 70%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: #E4E4E6;
    }
    .music.up .plain .down h1{
        margin-top: -0.5rem;
        font-size: 0.9rem;
        font-weight: 200;
    }
    .music.up .middle{
        width: 40%;
        height: 10vh;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        grid-gap: 0.3rem;
        margin-top: -1.7rem;
    }
    .music.up .middle button{
        background-color: inherit;
        border: none;
        width:85%;
        height: 85%;
    }
    .music.up .middle button .icon{
        color: #EE4950;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }
    .music.up .middle button .iconey{
        color: #E4E4E6;
        width: 65%;
        height: 65%;
    }
    
    .music.up .iconss{
        width: 100%;
        height: 10vh;
        color: #E4E4E6;
        display: flex;
        justify-content: flex-start;
        align-items: center;
       }
       .music.up .iconss .iconeeyy{
        width: 20%;
        height: 60%;
        color: #E4E4E6;
        margin-left: 0rem;
       }
    @keyframes transitionIn{
        from{
        top:90vh
        }
        to{
           top:0vh
         }
    }


@media screen and (max-width:913px) {
.music{
    width: 100vw;
    height: 10vh;
    position: fixed;
    bottom: -3px;
    left: 0;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    /* background: rgba(0,0,0,0.8); */
    box-sizing: border-box;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    border-top: 1px solid grey;
    background-color: rgba(0, 0, 0, .75);  
    backdrop-filter: blur(15px);
    }



    .music .left{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0.6rem;
        grid-gap: 0.1rem;
    }    
    .music .left .image{
    width: 40%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .music .left .image img{
        width: 80%;
        height: 80%;
    }
    .music .left .below{
        width: 60%;
    }
    .music .left .names{
        width: 100%;
        color: #E4E4E6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-transform: capitalize;
    }
    .music .left .names h1{
        font-size: 0.8rem;
        font-weight: 400;
        margin-bottom: 0rem;
    }
    .music .left .names p{
        margin-top: 0.3rem;
        opacity: 0.5;
        font-size:0.8rem;
        font-weight: 200;
    }

    .music .middle{
        width: 40%;
        height: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        grid-gap: 0.3rem;
    }
    .music .middle button{
        background-color: inherit;
        border: none;
        width: 32%;
        height: 60%;
    }
    .music .middle button .icon{
        color: #E4E4E6;
        width: 80%;
        height: 80%;
        background-color: transparent;
    }
    .music .middle button .iconey{
        color: #E4E4E6;
        width: 65%;
        height: 65%;
    }
    .music .right{
        width: 15%;
        height: 100%;
        color: #E4E4E6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .music .right .nolike{
        color: #E4E4E6;
    }
    .music .right .like{
        color: #EE4950;
    }



    .music.up{
        max-width: 100vw;
        max-height: 100vh;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        border-top-left-radius: 0px;
        border: none;
        overflow: hidden;
        z-index: 99999;
        /* background-color: #24242E; */
        /* background-color:#09090B; */
        backdrop-filter: blur(0px);
        flex-direction: column;
        font-family: "Poppins" , sans-serif;
    }

    .music.up .left{
        margin-top: 1rem;
        width: 100vw;
        min-height: 40vh;
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0rem;
        z-index: 100;
    }
    .music.up .left .image{
        width: 87%;
        height: 95%;
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: -9rem;
        margin-right: -0.1rem;
    }
    .music.up .left .image img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
        /* border-top-left-radius: 41%; */
    }
    .music.up .left .below{
        width: 87vw;
        height: 25%;
        display: grid;
        grid-template-columns: 75% 25%;
        align-items: center;
        justify-content: center;
    }
    .music.up .left .below .right{
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: fcenter;
    }
    .music.up .left .below .right .nolike{
        width: 45%;
        height: 45%;
    }
    .music.up .left .below .right .like{
        width: 45%;
        height: 45%;
        color: #EE4950;
    }
    .music.up .left .below .names {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        font-family: "Poppins" , sans-serif;
        overflow: hidden;
        white-space: nowrap;
    }           
          @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(-100%); }
          }
    .music.up .left .below .names h1{
        font-size: 1.3rem;
        margin-top: 1.8rem;
        margin-bottom:0;
        font-weight: 500;
        filter: brightness(2.5);
         /* animation: scroll 2s linear infinite; */
    }
    .music.up .left .below .names p{
        font-size: 1.1rem;
        opacity: 0.6;
        margin-top:0rem;
        font-weight: 400;
        filter: brightness(2.5);
        /* animation: scroll 2s linear infinite; */
    }
    .music.up .plain{
        width: 85%;
        height: 15vh;
        margin-top: -2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 100;
    }
    .music.up .plain .slide{
        width: 100%;
    }
    .music.up .plain .slide .dabba{
        height: 2px !important;
    }
    .music.up .plain .down{
        width: 100%;
        height: 50%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        color: #E4E4E6;
    }
    .music.up .plain .down h1{
        margin-top: -1rem;
        font-size: 0.9rem;
        font-weight: 200;
        filter: brightness(2.5);
    }
    .music.up .middle{
        width: 60%;
        height: 10vh;
        display: flex;
        justify-content:flex-start;
        align-items: flex-start;
        grid-gap: 0.3rem;
        margin-top: -1.9rem;
        z-index: 100;
    }
    .music.up .middle button{
        background-color: inherit;
        border: none; 
    }
    .music.up .middle .bttttn{
        width:74%;
        height: 80%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.175);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .music.up .middle button .icon{
        color: #E4E4E6;
        width: 80%;
        height: 80%;
        background-color: transparent;
        filter: brightness(2.5);
    }
    .music.up .middle button .iconey{
        color: #E4E4E6;
        width: 65%;
        height: 65%;
        filter: brightness(2.5);
    }



   .music.up .iconss{
    width: 100vw;
    height: 8.7vh;
    /* background-color: #141416; */
    color: #E4E4E6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
   }
   .music.up .iconss h1{
      text-align: left;
      font-size: 1.3rem;
      width: 80%;
      text-transform: capitalize;
      font-weight: 500;
      margin-left: 3rem;
      filter: brightness(2.5);
   }
   .music.up .big{
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      /* bottom: -1rem; */
      width: 100vw;
      height: 100vh;
      z-index: 1;
   }


   .music.up .boxie{
   width: 35%;
   height: 13.9vh;
   /* background: radial-gradient(180% 180% at right -66% bottom -65%, transparent 99%,  #141416); */
   transform: translate(-180deg);
    margin-top: -0.3rem;
    margin-left: -70%;
   }

   .music.up .iconss .iconeeyy{
    width: 20%;
    height: 50%;
    color: #E4E4E6;
    margin-left: 0rem;
    filter: brightness(2.5);
   }











}
    @supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
        .music {
          -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
        }
      }
