.categories{
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
    text-transform: capitalize;
    font-family: "Poppins" , sans-serif;
}

.categories .spin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.categories .others{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.categories .others .up{
    width: 100%;
    height: 11vh;
    background-color: #282828;
    display: flex;
    align-items: center;
}
.categories .others .up h1{
    font-size: 1.8rem;
    font-weight: 450;
    width: 80%;
    height: 100%;
    display: flex;
    text-transform: capitalize;
    justify-content:center;
    align-items: center;
    color: #E3E3E3;
}
.categories .others .up .icon{
    color: #E3E3E3;
    width: 20%;
    height: 60%;
    margin-left: -1rem;
}

.categories .others .title{
   width: 100%;
   height: 8vh;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: #E3E3E3;
}
.categories .others .title h1{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.categories .others .artistsection{
    width: 95%;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
.categories .others .artistsection h1{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #E3E3E3;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
}

.categories .others .artistsection .boxes{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x:scroll;
    grid-gap: 0.75rem;
    margin-top: 0rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.categories .others .artistsection .boxes::-webkit-scrollbar {
    display: none;
}
.categories .others .artistsection .boxes .box:first-child{
    margin-left:4rem;
    min-width: 16%;

    width: 16%;

    max-height: 90%;

    height:90% 
    }
    .categories .others .artistsection .box{
    min-width: 16%;
    width: 16%;
    max-height: 90%;
    height:90% ;
    border-radius: 10px !important;
}
.categories .others .artistsection .boxes .box .image{
    width: 100%;
    max-height: 70%;
    height: 70%;
    overflow:hidden;
}
.categories .others .artistsection .boxes .box .image img{
    max-width:100%;
    max-height:100% !important;
    height:100%;
    width:100%;
    object-fit:cover;
}
.categories .others .artistsection .name{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 630;
    color: #E3E3E3;
    margin-top: 0.6rem;
}




.categories .others .songsection{
    width: 95%;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2rem;
}
.categories .others .songsection h1{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #E3E3E3;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
}

.categories .others .songsection .boxes{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x:scroll;
    grid-gap: 0.75rem;
    margin-top: -0.5rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.categories .others .songsection .boxes::-webkit-scrollbar {
    display: none;
}


.categories .others .songsection .boxes .box:first-child{
    margin-left:4rem;
    min-width: 16%;

    width: 16%;

    max-height: 90%;

    height:90% 
    }
    .categories .others .songsection .box{
    min-width: 16%;
    width: 16%;
    max-height: 90%;
    height:90% ;
    border-radius: 10px !important;
}
.categories .others .songsection .boxes .box .image{
    width: 100%;
    max-height: 70%;
    height: 70%;
    overflow:hidden;
}
.categories .others .songsection .boxes .box .image img{
    max-width:100%;
    max-height:100% !important;
    height:100%;
    width:100%;
    object-fit:cover;
}
.categories .others .songsection .names{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: -0.4rem;
}
.categories .others .songsection .names h1{
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.categories .others .songsection .names .fade{
    opacity: 0.6;
}






.categories .others .playlistsection{
    width: 95%;
    height: auto;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1rem;
}
.categories .others .playlistsection h1{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #E3E3E3;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.categories .others .playlistsection .boxes{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x:scroll;
    grid-gap: 0.75rem;
    margin-top: -0.5rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.categories .others .playlistsection .boxes::-webkit-scrollbar {
    display: none;
}

.categories .others .playlistsection .boxes .box:first-child{
    margin-left:4rem;
    min-width: 16%;

    width: 16%;

    max-height: 90%;

    height:90% 
    }
    .categories .others .playlistsection .box{
    min-width: 16%;
    width: 16%;
    max-height: 90%;
    height:90% ;
    border-radius: 10px !important;
}
.categories .others .playlistsection .boxes .box .image{
    width: 100%;
    max-height: 70%;
    height: 70%;
    overflow:hidden;
}
.categories .others .playlistsection .boxes .box .image img{
    max-width:100%;
    max-height:100% !important;
    height:100%;
    width:100%;
    object-fit:cover;
}
.categories .others .playlistsection .names{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.categories .others .playlistsection .names h1{
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.categories .others .playlistsection .names .fade{
    opacity: 0.6;
}
@media  screen and (max-width:913px) {
.categories{
    width: 100vw;
    min-height: 100vh;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #121212;
    text-transform: capitalize;
    font-family: "Poppins" , sans-serif;
}

.categories .spin{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.categories .others{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.categories .others .up{
    width: 100%;
    height: 8vh;
    background-color: #282828;
    display: flex;
    align-items: center;
}
.categories .others .up h1{
    font-size: 1.8rem;
    font-weight: 450;
    width: 80%;
    height: 100%;
    display: flex;
    text-transform: capitalize;
    justify-content:center;
    align-items: center;
    color: #E3E3E3;
}
.categories .others .up .icon{
    color: #E3E3E3;
    width: 20%;
    height: 60%;
    margin-left: -1rem;
}

.categories .others .title{
   width: 100%;
   height: 8vh;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: #E3E3E3;
}
.categories .others .title h1{
    font-size: 2rem;
    font-weight: 600;
    margin-left: 1rem;
}

.categories .others .artistsection{
    width: 95%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
}
.categories .others .artistsection h1{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #E3E3E3;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
}

.categories .others .artistsection .boxes{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x:scroll;
    grid-gap: 0.75rem;
    margin-top: 0rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.categories .others .artistsection .boxes::-webkit-scrollbar {
    display: none;
}
.categories .others .artistsection .boxes .box:first-child{
    margin-left:1rem;
    min-width: 40%;

    width: 40%;

    max-height: 77%;

    height:77% 
    }
    .categories .others .artistsection .box{
    min-width: 40%;
    width: 40%;
    max-height: 77%;
    height:77% ;
    border-radius: 10px !important;
}
.categories .others .artistsection .boxes .box .image{
    width: 100%;
    max-height: 65%;
    height: 65%;
    overflow:hidden;
}
.categories .others .artistsection .boxes .box .image img{
    max-width:100%;
    max-height:100% !important;
    height:100%;
    width:100%;
    object-fit:cover;
}
.categories .others .artistsection .name{
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 630;
    color: #E3E3E3;
    margin-top: 0.6rem;
}




.categories .others .songsection{
    width: 95%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -2rem;
}
.categories .others .songsection h1{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #E3E3E3;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
    margin-bottom: 0rem;
}

.categories .others .songsection .boxes{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x:scroll;
    grid-gap: 0.75rem;
    margin-top: -0.5rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.categories .others .songsection .boxes::-webkit-scrollbar {
    display: none;
}


.categories .others .songsection .boxes .box:first-child{
    margin-left:0.8rem;
    min-width: 40%;

    width: 40%;

    max-height: 77%;

    height:77% 
    }
    .categories .others .songsection .box{
    min-width: 40%;
    width: 40%;
    max-height: 77%;
    height:77% ;
    border-radius: 10px !important;
}
.categories .others .songsection .boxes .box .image{
    width: 100%;
    max-height: 65%;
    height: 65%;
    overflow:hidden;
}
.categories .others .songsection .boxes .box .image img{
    max-width:100%;
    max-height:100% !important;
    height:100%;
    width:100%;
    object-fit:cover;
}
.categories .others .songsection .names{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-left: -0.4rem;
}
.categories .others .songsection .names h1{
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.categories .others .songsection .names .fade{
    opacity: 0.6;
}






.categories .others .playlistsection{
    width: 95%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -1rem;
}
.categories .others .playlistsection h1{
    width: 100%;
    height: 10%;
    text-align: center;
    color: #E3E3E3;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.categories .others .playlistsection .boxes{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    overflow-x:scroll;
    grid-gap: 0.75rem;
    margin-top: -0.5rem;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; 
}
.categories .others .playlistsection .boxes::-webkit-scrollbar {
    display: none;
}

.categories .others .playlistsection .boxes .box:first-child{
    margin-left:0.8rem;
    min-width: 40%;

    width: 40%;

    max-height: 80%;

    height:80% 
    }
    .categories .others .playlistsection .box{
    min-width: 40%;
    width: 40%;
    max-height: 80%;
    height:80% ;
    border-radius: 10px !important;
}
.categories .others .playlistsection .boxes .box .image{
    width: 100%;
    max-height: 65%;
    height: 65%;
    overflow:hidden;
}
.categories .others .playlistsection .boxes .box .image img{
    max-width:100%;
    max-height:100% !important;
    height:100%;
    width:100%;
    object-fit:cover;
}
.categories .others .playlistsection .names{
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.categories .others .playlistsection .names h1{
    font-size: 0.9rem;
    font-weight: 500;
    text-align: center;
}

.categories .others .playlistsection .names .fade{
    opacity: 0.6;
}
}