.createplaylist{
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.createplaylist .spin{
    width: 100%;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.createplaylist .others{
    background-color:inherit;
    position: absolute;
    top: 5%;
    left: 22.4vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    color: #E3E3E3;
    width: 77.6vw;
    height: auto;
    min-height: 100vh;
}
.createplaylist .others .heading{
    width: 90%;
    height:20vh;
}
.createplaylist .others .lineey{
    width: 90%;
    height: 3px;
    background-color: #343434;
}

.createplaylist .others .playlistsss{
    width: 94%;
    height: auto;
    min-height: 40vh;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    grid-column-gap: 3%;
    margin-left: 0.52rem;
}
.createplaylist .others .playlistsss .addplay{
    width: 20%;
    height: 37vh;
    /* background-color: #272729; */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    text-transform: capitalize;
    margin-top: 1rem;
} 
.createplaylist .others .playlistsss .addplay:hover ,     .createplaylist .others .playlistsss .box:hover{
    cursor: pointer;
}
.createplaylist .others .playlistsss .addplay .adddd{
    width: 40%;
    height: 40%;
}
.createplaylist .others .playlistsss .addplay p{
    font-size: 1.2rem;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    margin-top: 0rem;
}
.createplaylist .others .playlistsss .box{
    width: 18%;
    height: 37vh;
    background-color: #18181a;
    border-radius: 12px;
    margin-top: 1rem;
}
.createplaylist .others .playlistsss .box .image{
    width:100%;
    height:70%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.createplaylist .others .playlistsss .box .image img{
    width: 100%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    height: 100%;
    object-fit: cover;
}
.createplaylist .others .playlistsss .box .names{
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    margin-left: 0.7rem;
}
.createplaylist .others .playlistsss .box .names h1{
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 0rem;
}
.createplaylist .others .playlistsss .box .names p{
    font-size: 0.9rem;
    font-weight: 400;
    opacity: 0.5;
    text-transform: capitalize;
    margin-top: 0.5rem;
}




@media screen and (max-width:913px) {
    .createplaylist .spin{
        width: 100%;
        height: 100%;
        z-index: 100;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0%;
    }
    .createplaylist .others{
        top: 10%;
        left: 0%;
        width: 100vw;
        height:auto;
        min-height: 90vh;
        display: flex;
        overflow-y: scroll;
        flex-direction: column;
        align-items: center;
    }
    .createplaylist .others .heading{
        width: 90%;
        max-height:16vh;
        height: 16vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .createplaylist .others .heading h1{
        font-size: 1.3rem;
        font-weight: 400;
        margin-bottom: 0rem;
    }
    .createplaylist .others .heading p{
        font-size:1.13rem;
        opacity: 0.6;
        font-weight: 400;
        text-transform: capitalize;
    }
    .createplaylist .others .lineey{
        width: 96%;
        height: 3px;
        margin-top:0rem;
        background-color: #343434;
    }
    .createplaylist .others .sub{
        width: 90%;
        height: 40vh;
        min-height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content:flex-start;
        align-items:flex-start;
        grid-gap: 2rem;
    }
    .createplaylist .others .sub .noplay{
        font-size: 1rem;
        font-weight: 500;
        margin-top: 1rem;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap: 0.2rem;
        color: #EE4950;
        text-transform: capitalize;
    }  
    
    
    .createplaylist .others .playlistsss{
        width: 94%;
        height: auto;
        min-height: 40vh;
        display: flex;
        flex-wrap: wrap;
        gap: 3%;
        grid-column-gap: 3%;
        margin-left: 0.52rem;
    }
    .createplaylist .others .playlistsss .addplay{
        width: 100%;
        height: 7vh;
        margin-left:0rem;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-transform: capitalize;
        margin-top: 1rem;
    } 
    .createplaylist .others .playlistsss .addplay .icon{
        width: 18%;
        height: 100%;
        border-radius: 4px;
        background-color: #242424;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .createplaylist .others .playlistsss .addplay .icon .adddd{
        width: 60%;
        height: 60%;
    }
    .createplaylist .others .playlistsss .addplay p{
        width: 60%;
        font-size: 1.26rem;
        font-weight: 400;
        text-transform: capitalize;
        text-align: center;
        margin-top: 1rem;
    }


    .createplaylist .others .playlistsss .box{
        width: 48%;
        height: 30vh;
        background-color: #18181a;
        border-radius: 16px;
        margin-top: 1rem;
    }
    .createplaylist .others .playlistsss .box .image{
        width:100%;
        height:70%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
    }
    .createplaylist .others .playlistsss .box .image img{
        width: 100%;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        height: 100%;
        object-fit: cover;
    }
    .createplaylist .others .playlistsss .box .names{
        width: 100%;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:flex-start;
        margin-left: 0.7rem;
    }
    .createplaylist .others .playlistsss .box .names h1{
        font-size: 0.9rem;
        font-weight: 400;
        text-transform: capitalize;
        margin-bottom: 0rem;
    }
    .createplaylist .others .playlistsss .box .names p{
        font-size: 0.9rem;
        font-weight: 400;
        opacity: 0.5;
        text-transform: capitalize;
        margin-top: 0.5rem;
    }

}



